@import '../../../index.css';

.logo_profile {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.logo_profile:hover {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 1.8rem;
  height: 1.8rem;
  
}
.logout_profile {
  display: flex;
  flex-direction: row;

}
.labels {
  color: #ffff;
  margin-left: 4px;
}
.container_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem
}
