@import '../../index.css';

.block__detail{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:  #eaebee;

}
.block__detail_contenedorcero{
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.block__detail_contenedor{
  margin-top: 3rem;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: white;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

}

.block__detail_contenedorimgdatos{
 display: flex;
 align-items: center;
 width: 60%;
}

.block__detail_contenedorreviews{
  display: flex;
  width: 30%;
}

.block__detail_product{
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block__detail_productfoto{
  width: 100%;
}

.block__detail_info{

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 650px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;

}

.block__detail_titulo{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block__detail_precio{
  font-size: 1.2rem;
  color:#000000;
  font-weight: 600;
  margin-bottom: 0.7rem;


}
.block__detail_estrellas{
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  color:   #e65c00;
}
.block__detail_caracteristicas{

  height: auto;
  font-size: 1rem;
  color: black;
  width: 100%;

}


.green_btn {
  background-color: #e65c00;
  height: 3rem;
  width: 8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 0;
  cursor: pointer;
}

.green_btn:hover {
  transition: 0.2s;
  background-color: #f9d423;
}

@media (max-width:700px) {
  .block__detail_contenedor{
    flex-direction: column;
  }
  .block__detail_contenedorimgdatos{
    width: 100%;
  }
  .block__detail_contenedorreviews{
    width: 100%;
    overflow: hidden;
    
  }
}