@import '../../index.css';

.block__detail{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.block__detail_contenedorcero{
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.block__detail_contenedor{
  margin-top: 3rem;
  align-items: center;
  flex-direction:column;
  display: flex;
  width: 90%;
  max-width: 700px;
  background-color:  #eaebee;
  border-radius: 10px;

}


.block__detail_product{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: #141e305f  6px 6px 20px;



}
.block__detail_productfoto{
  width: 50%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;


}
.block__detail_info{
  background-color:  #eaebee;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.block__detail_contenedortitulo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.block__detail_titulo{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: 800;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
   

}

.block__detail_precio{
  font-size: 1.2rem;
  color:#000000;
  font-weight: 600;
  margin-bottom: 0.7rem;

}
.block__detail_estrellas{
  width: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  color:   #e65c00;
}
.block__detail_caracteristicas{
  font-size: 1rem;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.block__detail_caracteristicas div{
  z-index: 1;
}


.green_btn {
  background-color: #e65c00;
  height: 3rem;
  width: 8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 0;
  cursor: pointer;
}

.green_btn:hover {
  transition: 0.2s;
  background-color: #f9d423;
}