/* .block__pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */

.contenedor_cardshome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}