@import '../../index.css';

.footer_contenedor {
  background: var(--header-bg-color);
  max-width: 100%;
  height: auto;
  color: #ffff;
  font-size: 0.9rem;
}
.footer_general_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
}
.container_sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sub_sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 10px;
  width: 200px;
  height: auto;
}
.section_terminos {
  display: flex;
  flex-direction: row;
}
