
.carousel-img-contenido{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    height: 200px;
}


.carousel-img-contenido img {
    height: 200px;
}

