.block__profile{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
}
.block__profile_contendor{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 550px;
    height: 60vh;
}
.block__profile_contendoruno{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
    font-size: 0.7rem;
}

.block__profile_contendordos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
    padding: 10px 30px;
    box-sizing: border-box;

}

.block__profile_contendordos h1{
    padding-top: 0.6rem ;
    padding-bottom: 0.6rem ;
    width: 100%;
    font-size: 1.1rem;
}
.block__profile_contendoruno_person{
    width: 5rem;
    margin-right: 15px;


}
.block__profile_contendordosdiv{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    
}
.block__profilebutton{
    background-color: #e65c00;
    height: 2.7rem;
    width: 100%;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
    text-decoration:none;
    outline: 0; 
    
    
    
}

.block__profilebutton:hover {
    transition: 0.2s;
    background-color: #f9d423;
  }