@import "../../index.css";

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: var(--header-margin-top-bottom)
}

.page_btn {
	
	color: var(--main-font-color-naranja);
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 500;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	background-color:var(--inputs-selects-color);
	 
}

.active {
	background-color:var(--pagination-bg-color);
	color: rgb(255, 166, 0);
}