.paginado {

    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-around;
    color: rgb(132, 132, 132);
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 600px;


}

.paginado a{
    width: 100px;
    height: 100%;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(0px);
    box-shadow: rgba(0, 0, 0, 0.00) 0px 0px 0px;
    transition: .2s;
    


}
.paginado a:hover {
    transform: translateY(-9px);
    box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 5px;
    transition: .2s;
}

.paginado-actual {
    background-color: rgb(16, 101, 161);
    color: rgb(255, 255, 255)
    
}
.paginado-off {
    background-color: rgb(255, 255, 255);
    color: rgb(16, 101, 161);
}