

.block__shopingcontendortres{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;

}

.block__shopingcontendorcuatro img{
    margin-right: 70px;

}
.block__shopingcontendorcinco{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;

}

.block__shopingcontendorcinco button{
   height: 30px;
   background-color: rgb(224, 224, 224);
   border: 2px;
}
.block__shopingprecio{
    font-size: 1.8rem;
}
.block__shopingcontendorseis{
    width: 30%;
}
.block__shopingcontendorsiete{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(224, 224, 224);
    font-size: 2rem;
    outline: none;
    border: 2px;
}