.Card {
    background-color: rgb(255, 255, 255);
    width: 290px ;
    height: 500px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(11, 11, 11, 0.142)  4px 4px 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.Card-name{
    font-size: 20px;
    text-decoration-line: none;
    color: rgb(69, 69, 87);
    margin-bottom: 10px;
    
}
.Card-img {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}
.Card-contenedorprecio{
    margin-top: 20px;
    background-color: rgb(39, 110, 168);
    border-radius: 15px;
    font-weight: 500;
    height: 55px;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    font-size: 30px;
    color: white;
}

.Card-agregar{
    width: 60%;
    height: 30px;
    color: rgb(39, 110, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}