.contenedor_cards{ 
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 50px;
    width: 80%;
    
}
.contenedor_cardscero{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}