/* SECCION DEL NAVBAR: LOGO, TITULO, CAR, REGISTER, LOGIN, LOGOUT Y PROFILE */
.container {
  background: linear-gradient(to right, #243b55, #141e30);
}

.container_position {
  max-width: 1300px;
  margin: 0 auto;
}

.section_navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  aling-items: center;
}

.container_logo_and_title{
  display: flex;
  flex-direction: row;
}

.logo {
  padding-top:20px;
  width: 2.5rem;
  height: 2.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-one);
}

.shoping_car {
  background: linear-gradient(to right, #f9d423, #e65c00);
  border-radius: 5px;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.25rem;
  margin-top:23px
}

.container_links {
  display: flex;
  align-items: center;
}

.header_btns {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 30px;
  width: 65px;
  text-align: center;
  border-color: transparent;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
}

.header_btns:hover {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bg-hover-register-login);
}

/* SECCCION DE FILTROS Y ORDENAMIENTOS */
.section_filters {
  background: #757f9a;
}

.sections_position {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
