.logo_fm {
  margin-top: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
}
.header_section_title_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  margin-right: 4rem;
}
.header_section_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-one);
}
.header_section_one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.header_section_filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  height: auto;
  width: 100%;
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to down,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to down,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** CARRITO REGISTER LOGIN*/

.header_section_one_car {
  margin-left: 2rem;
  margin-right: 1rem;
}
.icon_car {
  background: #e65c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.25rem;
}

.header_btns {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 30px;
  width: 65px;
  text-align: center;
  border-color: transparent;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
}

.header_btns:hover {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bg-hover-register-login);
}

.header_div_logout_profile {
  display: flex;
  align-items: center;
}
