.header_btns {
  height: 30px;
  width: 65px;
  text-align: center;
  border-color: transparent;
  border-radius: 5px;
  background-color: transparent;
  color: aliceblue;
}
.logo_profile {
  width: 1.8rem;
  height: 1.8rem;
}
.logo_register {
  width: 1.8rem;
  height: 1.8rem;
}
.logo_login {
  width: 1.8rem;
  height: 1.8rem;
}
