.header_btns {
  border-color: transparent;
  background-color: transparent;
  margin-left: 1rem;
}
.logo_profile {
  width: 1.8rem;
  height: 1.8rem;
}
.logo_profile:hover {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 1.8rem;
  height: 1.8rem;
}
.logo_register {
  width: 1.8rem;
  height: 1.8rem;
}
.logo_register:hover {
  border-radius: 50px;
  background-color: #ffff;
  width: 1.8rem;
  height: 1.8rem;
}

.container_register_login {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffff;
}
.labels {
  color: #ffff;
}
